<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>User Dashboard</title>
</head>

<body>
	<section>
		<div class="container">
			<div class="card">
				<div class="card-body my-5">

					<div class="container text-center">
						<img class="my_profile_picture" src="" style="height:300px; width:300px;"
							th:src="@{'/img/contact_logo.png'}" alt="profile photo" />
					</div>
					
					<h1 class="text-center mt-3 text-secondary font-italic font-weight-light">
						Start Adding your contact on cloud....
					</h1>
					
					<a th:href="@{/user/add-contact}" class="btn btn-primary btn-block text-uppercase mt-4">Add New Contact</a>
					
				</div>
			</div>
		</div>
		
		<!-- for highlighting the specific sidebar icon on which we are currently at -->
		<script>
			$(document).ready(() => {
				$(".item").removeClass("active");   // phle sbse hta denge 
				$("#home-link").addClass("active"); // phir jis page pe honge currently usko highlight kar denge.
													// e.g: here = 'home'
			});
		</script>


	</section>
</body>

</html>